body{
    font-size: 14px;
}

#mainDiv{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
}

#mainImg{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

#contA{
    color: white;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hrA{
    background: white;
    height: 0.1px;
}

#logoImg{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

#logoCap{
    font-size: 20px;
}

#contB{
    position: absolute;
    top: 110%;
    left: 0px;
}

@media only screen and (max-width: 600px){
    .spanA{
        display: none;
    }
    
    .spanB{
        font-size: 16px;
        margin-right: 20px;
        display: block;
        cursor: pointer;
    }

    #divA{
        padding-top: 15%;
    }
}

@media only screen and (min-width: 600px){
    .spanA{
        margin-right: 20px;
        cursor: pointer;
    }
    
    .spanB{
        display: none;
    }

    #divA{
        padding-top: 20%;
    }

    #contB{
        margin-left: 7%;
    }
}

.colA{
    padding: 30px;
}

.colB{
    margin-bottom: 20px;
    overflow: hidden;
}

.imgA{
    border-radius: 10px;
}

#fb{
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

#linkA{
    text-decoration: none;
    color: black;
}

.link_a,.link_a:hover{
    text-decoration: none;
    color: white;
}

.link_b,.link_b:hover{
    text-decoration: none;
    color: black;
}

#floater{
    background: #f5f5f5;
    padding: 20px;
    font-size: 16px;
    line-height: 30px;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 100%;
}
